@font-face {
  font-family: Nunito;
  src: url('./res/fonts/Nunito-VariableFont_wght.ttf');
}

:root {
  --red: rgb(186, 73, 73);
  --blue: rgb(56, 133, 138);
  --darkblue: rgb(57, 112, 151);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--red);
  color: white;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

main {
  /* border-width: 1px;
  border-color: red;
  border-style: solid; */
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

#timer-container {
  /* border-width: 1px; */
  /* border-color: black; */
  /* border-style: solid; */
  border-radius: 5px;
  background-color: rgb(255,255,255,0.1);

  width: 480px;

  padding-top: 20px;
  padding-bottom: 20px;

  padding-left: 10px;
  padding-right: 10px;
}

#timer-types {
  display: flex;

  justify-content: space-evenly;
  align-items: center;

  font-size: small;
}

.timer-type-button {
  background-color: rgba(0,0,0,0.1);
  width: 140px;

  border-radius: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  font-weight: 700;
}

.timer-type-button:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

#timer-text {
  /* border-width: 1px;
  border-color: black;
  border-style: solid; */
  font-size: 8em;
  font-weight: 715;
}

#pomodoro-number {
  /* border-width: 1px;
  border-color: black;
  border-style: solid; */
  font-size: 2em;
  font-weight: 700;

  padding-top: 25px;
}

#timer-buttons {
  /* border-width: 1px;
  border-color: black;
  border-style: solid; */
  display: flex;
  justify-content: center;
}

#timer-button {
  border-radius: 5px;

  background-color: white;
  color: var(--red);

  font-size: x-large;
  font-weight: 650;
  
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#timer-button:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}
