h1 {
  text-align: center;
}

.links {
  width: 20%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.links a {
  text-decoration: none;
  color: black;
  border: 1px solid lightgrey;
  padding: 10px;
  transition: 0.3s;
}

.links a:hover {
  background-color: lightgrey;
}

.controls {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.controls a, button, .control {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: lightgrey;
  transition: 0.3s;
}

.controls a:hover, button:hover, .control:hover {
  background-color: lightgoldenrodyellow;
}

table {
  margin: auto;
}

.empty-result {
  width: 50%;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-style: italic;
}

thead tr th {
  border: 1px solid lightgrey;
}

tbody tr td, thead tr th {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: lightgrey;
  color: black;
}

tbody tr:nth-child(odd) {
  background-color: grey;
  color: black;
}

.form_input_container {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.filter-input {
  width: 100%;
}

.success {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(lightgray, greenyellow, lightgray);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.errors {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(lightgray, greenyellow, lightgray);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}




